{% extends "dashboard/club_view.html" %}
{% load compress django_bootstrap5 hosts qr_code static %}
{% block extra_head %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'styles/dashboard/grow.css' %}" />
    {% endcompress %}
{% endblock extra_head %}

{% block sub_sub_content %}
    <div class="row">
        <div class="col-12">
            <h2>
                {% if context == 'edit' %}
                    Edit Tracker <i>{{ ownership.nickname }}</i>
                {% endif %}
            </h2>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="save btn btn-primary dashboard-link float-end" id="submit-btn">
                    <i class="fa-solid fa-floppy-disk"></i> <span>Save</span>
                </button>
                {% if context == 'edit' %}
                    <a href="{% url 'dashboard_club:device:delete_view' device_id=ownership.device.aid club_slug=request.club.slug %}"
                       class="btn btn-danger dashboard-link"><i class="fa-solid fa-trash"></i> <span>Delete</span></a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock sub_sub_content %}
