{% extends "dashboard/club_view.html" %}
{% load compress django_bootstrap5 hash hosts static %}
{% block extra_head %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet"
              href="{% static 'styles/dashboard/device_list.css' %}" />
    {% endcompress %}
{% endblock extra_head %}

{% block sub_sub_content %}
<div class="row">
    <div class="col-12">
        <div class="mb-3">
            {% if not devices %}<p>You haven't added any devices.</p>{% endif %}
            <a href="{% url 'dashboard_club:device:add_view' club_slug=request.club.slug %}"
               class="btn btn-primary mb-1 me-1 mb-1"><i class="fa-solid fa-circle-plus"></i> Add Tracker</a>
            {% if devices %}
                <a href="{% url 'dashboard_club:device:list_download' club_slug=request.club.slug %}"
                   class="btn btn-secondary mb-1 me-1 mb-1"><i class="fa-solid fa-download"></i> Download device list</a>
            {% endif %}
        </div>
        {% if devices %}
            {% if devices.paginator.num_pages > 1 %}
                {% bootstrap_pagination devices extra=request.GET.urlencode pages_to_show=4 %}
            {% endif %}
            <table class="table mb-3">
                <thead>
                    <tr>
                        <th><a data-sort-name="device-id">Tracker</a></th>
                        <th><a data-sort-name="nickname">Nickname</a></th>
                        <th><a data-sort-name="seen">Last Seen</a> & <a data-sort-name="battery">Battery Level</a></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for device_ownership in devices %}
                        {% with device=device_ownership.device %}
                            <tr class="collapsable">
                                <td>
                                    <button type="button" class="btn copy-btn btn-primary dashboard-link" data-value="{{ device.aid }}">
                                        <i class="fa-solid fa-mobile"></i> <span>{{ device.aid }}</span>
                                    </button>
                                </td>
                                <td class="{% if not device_ownership.nickname %}no-data{% endif %}" >
                                    {% if device_ownership.nickname %}
                                        <button class="btn btn-info dashboard-link" type="button" disabled><i class="fa-solid fa-at"></i> <span>{{ device_ownership.nickname }}</span></button>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if device.last_location %}
                                        <button type="button" class="btn btn-info dashboard-link" disabled >
                                            <i class="fa-solid fa-stopwatch"></i> <span class="date-utc text-nowrap" data-date="{{ device.last_location_datetime|date:'c' }}">{{ device.last_location_datetime|date:'Y-m-d H:i:s' }} UTC</span>
                                        </button>
                                        <a class="btn btn-success dashboard-link" target="_blank" rel="noopener noreferrer" href="https://map.routechoices.com/?latlon={{ device.last_location.1 }},{{ device.last_location.2 }}">
                                            <i class="fa-solid fa-map-location-dot"></i> <span>{{ device.last_location.1 }}, {{ device.last_location.2 }}</span>
                                        </a>
                                        {% if device.battery_level != None and device.battery_level != '' %}
                                            <button type="button" class="btn btn-info dashboard-link" disabled>{{ device.battery_level }}% <i class="fa-solid fa-battery-{{ device.battery_level_text }}"></i></button>
                                        {% endif %}
                                    {% else %}
                                        <button type="button" class="btn btn-muted dashboard-link" disabled><i class="fa-solid fa-eye-slash"></i> <span>Not data</span></button>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if device.gpsseuranta_known %}

                                    <div>
                                    <div class="me-2 mb-1 d-inline-block border rounded p-2">
                                        <div class="form-check form-switch">
                                          <input class="form-check-input gpsseuranta-set-btn" data-dev-id="{{ device.aid }}" type="checkbox" role="switch" id="gpsseuranta-{{ device.aid }}" {% if device.should_relay_to_gpsseuranta %}checked{% endif %}>
                                          <label class="form-check-label" for="gpsseuranta-{{ device.aid }}"><i>GPSSeuranta.net</i> Proxy{% if device.should_relay_to_gpsseuranta %}
                                        <br/><small class="text-muted">(Until <span class="date-utc text-nowrap" data-date="{{ device.gpsseuranta_relay_until|date:'c' }}"></span>)</small>
                                        {% endif %}</label>
                                        </div>

                                    </div>
                                    {% endif %}
                                    <a class="btn btn-secondary dashboard-link" href="{% url 'dashboard_club:device:edit_view' device_id=device.aid club_slug=request.club.slug club_slug=request.club.slug %}">
                                        <i class="fa-solid fa-pen-to-square"></i> <span>Edit</span>
                                    </a>
                                    <a class="btn btn-danger dashboard-link" href="{% url 'dashboard_club:device:delete_view' device_id=device.aid club_slug=request.club.slug %}">
                                        <i class="fa-solid fa-trash"></i> <span>Delete</span>
                                    </a>
                                </div>
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                </tbody>
            </table>
            {% if devices.paginator.num_pages > 1 %}
                {% bootstrap_pagination devices extra=request.GET.urlencode pages_to_show=4 %}
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock sub_sub_content %}

{% block extra_body %}
    <script src="{% static 'scripts/load-local-variables.js' %}?v=2023112700"
            data-csrf-token="{{ csrf_token }}"
            data-club-slug="{{ club.slug }}"
            data-api-base-url="{% host_url 'api_doc' host 'api' %}"></script>
    {% compress js %}
        <script src="{% static 'vendor/umbrella-3.3.3/umbrella.min.js' %}"></script>
        <script src="{% static 'vendor/dayjs-1.11.7/dayjs.min.js' %}"></script>
        <script src="{% static 'scripts/dashboard/device_list.js' %}"></script>
        <script src="{% static 'vendor/reqwest-2.0.5/reqwest.min.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
