{% extends "dashboard/club_view.html" %}
{% load compress django_bootstrap5 hosts qr_code static %}
{% block extra_head %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'styles/dashboard/grow.css' %}" />
    {% endcompress %}
{% endblock extra_head %}

{% block sub_sub_content %}
    <div class="row">
        <div class="col-12">
            {% if event_set.url %}
                <div class="text-center d-flex">
                    <div>
                        <p>
                            {% qr_from_text event_set.shortcut size="t" image_format="png" error_correction="l" %}
                            <br>
                            <small><a class="small qrUrlText fw-bold" href="{{ event_set.shortcut }}">{{ event_set.shortcut_text }}</a></small>
                        </p>
                    </div>
                </div>
            {% endif %}
            <h2>
                {% if context == 'edit' %}
                    Edit Tracker <i>{{ device.nickname }}</i>
                {% endif %}
            </h2>
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <button type="submit" class="save btn btn-primary me-1 mb-1" id="submit-btn">
                    <i class="fa-solid fa-floppy-disk"></i> Save
                </button>
                {% if context == 'edit' %}
                    <a href="{% url 'dashboard_club:device:delete_view' device_id=device.device.aid club_slug=request.club.slug %}"
                       class="btn btn-danger mb-1 float-end"><i class="fa-solid fa-trash"></i> Delete</a>
                {% endif %}
            </form>
        </div>
    </div>
{% endblock sub_sub_content %}
