{% extends "dashboard/club_view.html" %}
{% load compress django_bootstrap5 hosts static %}
{% block extra_head %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet"
              href="{% static 'styles/dashboard/event_set_list.css' %}" />
    {% endcompress %}
{% endblock extra_head %}

{% block sub_sub_content %}
    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                {% if not event_sets %}<p>You haven't created any event sets.</p>{% endif %}
                <a href="{% url 'dashboard_club:event_set:create_view' club_slug=request.club.slug %}"
                   class="btn btn-primary mb-1"><i class="fa-solid fa-circle-plus"></i> Create Bundle</a>
            </div>
            {% if event_sets %}
                {% if event_sets.paginator.num_pages > 1 %}
                    {% bootstrap_pagination event_sets extra=request.GET.urlencode pages_to_show=4 %}
                {% endif %}
                <table class="table mb-3">
                    <thead>
                        <tr>
                            <th>Bundle</th>
                            <th>Event Count</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event_set in event_sets %}
                            <tr class="collapsable">
                                <td>
                                    {% if event_set.create_page %}
                                    <a class="btn btn-primary dashboard-link external-link" href="{{ event_set.url }}" ><i class="fa-solid fa-folder-open"></i> <span>{{ event_set.name }}</span></a>
                                    {% else %}
                                    <button type="button" disabled class="btn btn-primary dashboard-link"><i class="fa-solid fa-folder-open"></i> <span>{{ event_set.name }}</span></button>
                                    {% endif %}
                                </td>
                                <td><button type="button" class="btn btn-info dashboard" disabled><span>{{ event_set.events.all.count }}</span> <i class="fa-solid fa-trophy"></i></button></td>
                                <td>
                                    <a class="btn btn-secondary dashboard-link"href="{% url 'dashboard_club:event_set:edit_view' event_set_id=event_set.aid club_slug=request.club.slug %}">
                                        <i class="fa-solid fa-pen-to-square"></i> <span>Edit</span>
                                    </a>
                                    <a class="btn btn-danger dashboard-link" href="{% url 'dashboard_club:event_set:delete_view' event_set_id=event_set.aid club_slug=request.club.slug %}">
                                        <i class="fa-solid fa-trash"></i> <span>Delete</span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% if event_sets.paginator.num_pages > 1 %}
                    {% bootstrap_pagination event_sets extra=request.GET.urlencode pages_to_show=4 %}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock sub_sub_content %}

{% block extra_body %}
    {% compress js %}
        <script src="{% static 'vendor/umbrella-3.3.3/umbrella.min.js' %}"></script>
        <script src="{% static 'scripts/dashboard/common.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
