{% extends "dashboard/home.html" %}
{% load compress static %}
{% block sub_content %}
    <div class="row">
        <div class="col-12">
            <h1>
                Delete map <i>{{ map.name }}</i>?
            </h1>
            <p class="alert alert-warning"><i class="fa-solid fa-triangle-exclamation"></i> This will delete the map from the server, all events it is used in will be affected.<br>There is no way to recover your data if you confirm this step.</p>
            <div class="mb-3">
                {% if used_in %}
                <h4>Used in following events</h4>
                <div>
                    {% for event in used_in %}
                    <a class="btn btn-primary dashboard-link me-1 external-link" href="{{ event.get_absolute_url }}" target="_blank" rel="noopener noreferrer">
                        <i class="fa-solid fa-trophy"></i> <span>{{ event.name }}</span>
                    </a>
                    {% endfor %}
                </div>
                {% else %}
                <h4>Not used in any events</h4>
                {% endif %}
            </div>
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="type-confirmation" class="form-label">Type "DELETE" to confirm.</label>
                    <input name="type-confirmation"
                           type="text"
                           class="form-control"
                           autocomplete="off">
                </div>
                <button type="submit" class="btn btn-danger mb-1" id="submit-btn" disabled>
                    <i class="fa-solid fa-trash"></i> <span>Delete</span>!
                </button>
            </form>
        </div>
    </div>
{% endblock sub_content %}

{% block extra_body %}
    {% compress js %}
        <script src="{% static 'vendor/umbrella-3.3.3/umbrella.min.js' %}"></script>
        <script src="{% static 'scripts/submit-form-commons.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
