{% extends "dashboard/home.html" %}
{% load compress hosts static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static 'vendor/tom-select-2.0.1/tom-select.bootstrap5.min.css' %}" />
{% endblock extra_head %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h1>Quick Tracking Ready</h1>
        <p class="alert alert-success">
            You may now set your GPS device to share its location with <i>RouteChoices.com</i>, Click the <i>Start live GPS tracking</i> button in the tracker app.
        </p>
        <p>
            Your live location will be shown at the following URL.
        </p>
        <form class="row mb-3">
            <div class="input-group">
                <input type="text" disabled class="form-control d-inline" id="id_url" value="{{ event.get_absolute_url }}">
                <button type="button" class="input-group-text" id="copy-btn"><i class="fa-solid fa-clipboard me-1"></i><span>Copy to clipboard</span></button>
            </div>
        </form>
        <p class="alert alert-info">
            <i class="fa-solid fa-circle-info"></i> You can stop sharing your location at anytime. Click Stop live GPS tracking in the tracker app.
        </p>
    </div>
</div>
{% endblock content %}

{% block extra_body %}
<script src="{% static 'scripts/load-local-variables.js' %}?v=2023112700"
        data-url="{{ event.shortcut }}"></script>
    {% compress js %}
        <script src="{% static 'vendor/umbrella-3.3.3/umbrella.min.js' %}"></script>
        <script src="{% static 'scripts/dashboard/quick_event_sharing.js' %}"></script>
    {% endcompress %}
{% endblock extra_body %}
