{% extends "base.html" %}
{% load compress hosts static %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet"
          href="{% static 'styles/site/tracker.css' %}?_=2022022600" />
{% endblock extra_head %}

{% block head_title %}Registration | Routechoices — Live GPS Tracking{% endblock %}

{% block content %}
{% if events %}
<h1 class="fw-bold">Select an event to register to:</h1>
<ul>
    {% for event in events %}
    <li style="font-size: 2em; padding-bottom: 1em" class="fw-bold"><a href="{% host_url 'event_contribute_view' host 'dashboard' %}?e={{ event.aid }}">{{ event.name }} – {{ event.club.name }}</a></li>
    {% endfor %}
</ul>
{% else %}
<h1>No events are open for registration…</h1>
{% endif %}
{% endblock content %}
